RVL_ALIAS "pll_clk_p" "pll_clk_p"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS25 OPENDRAIN=OFF HYSTERESIS=SMALL ;
LOCATE COMP "clk" SITE "C8" ;
BLOCK JTAGPATHS ;
LOCATE COMP "hs_clock_o" SITE "B9" ;
IOBUF PORT "hs_clock_o" IO_TYPE=LVDS25E SLEWRATE=SLOW PULLMODE=NONE DRIVE=8 CLAMP=OFF OPENDRAIN=OFF ;
LOCATE COMP "hs_data_o" SITE "D8" ;
IOBUF PORT "hs_data_o" IO_TYPE=LVDS25E SLEWRATE=FAST PULLMODE=NONE DRIVE=8 ;
IOBUF PORT "buf_clkout_lp_n_o" DRIVE=6 IO_TYPE=LVCMOS12 CLAMP=ON OPENDRAIN=OFF PULLMODE=DOWN ;
IOBUF PORT "buf_clkout_lp_p_o" DRIVE=6 IO_TYPE=LVCMOS12 CLAMP=ON OPENDRAIN=OFF PULLMODE=DOWN ;
IOBUF PORT "buf_dout_lp_n_o" DRIVE=6 IO_TYPE=LVCMOS12 CLAMP=ON OPENDRAIN=OFF PULLMODE=DOWN ;
IOBUF PORT "buf_dout_lp_p_o" DRIVE=6 IO_TYPE=LVCMOS12 CLAMP=ON OPENDRAIN=OFF PULLMODE=DOWN ;
LOCATE COMP "buf_clkout_lp_n_o" SITE "H16" ;
LOCATE COMP "buf_clkout_lp_p_o" SITE "F16" ;
LOCATE COMP "buf_dout_lp_p_o" SITE "H14" ;
OUTPUT PORT "buf_clkout_lp_n_o" LOAD 100.000000 pF ;
OUTPUT PORT "buf_clkout_lp_p_o" LOAD 100.000000 pF ;
OUTPUT PORT "buf_dout_lp_n_o" LOAD 100.000000 pF ;
OUTPUT PORT "buf_dout_lp_p_o" LOAD 100.000000 pF ;
LOCATE COMP "nsys_reset" SITE "B3" ;
LOCATE COMP "lcd_rst" SITE "D10" ;
LOCATE COMP "reg_1v8_en" SITE "F8" ;
LOCATE COMP "reg_3v0_en" SITE "B12" ;
LOCATE COMP "bl_en" SITE "E11" ;
IOBUF PORT "lcd_rst" OPENDRAIN=ON IO_TYPE=LVCMOS25 DRIVE=8 ;
LOCATE COMP "spi_mosi_i" SITE "R8" ;
LOCATE COMP "spi_miso_o" SITE "C1" ;
LOCATE COMP "spi_clk_i" SITE "M6" ;
LOCATE COMP "spi_csn_i" SITE "T7" ;
LOCATE COMP "lcd_test_i" SITE "N2" ;
LOCATE COMP "buf_dout_lp_n_o" SITE "K15" ;
